/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-background-color: #000028;
  --main-color: #F1B2CE;
  --accent-color: #ff0070;
  --title-color: #DB00FF;
  --main-font-family: 'IBM Plex Mono';
  --bold-family: 700;
}